<!DOCTYPE html>
<html>
<head>
  <title>Checkout canceled</title>
  <link rel="icon" type="image/png"  href="\media\32 x 32 icon.png">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <section>
    <p>if you didn't intent for this, please try paying again.
    </p>
  </section>
</body>
</html>