<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email</title>
</head>
<body>
    <img src="https://test-bucket-nodejs.s3.eu-west-1.amazonaws.com/index.png" alt="" style="width: 15%; height: 15%; margin-left: 44%;">
      <div class="center" style="text-align: center;">
      <h2 style="margin-top: 2em; background-color: #1ca78b; color: #3c3d3c; border: 2px solid #3c3d3c; text-decoration: #3c3d3c;">hello "<%= user.username %>" your virt account has been created</h2>

      <button style="width: max-content; margin-top: 2em; background-color: #1ca78b; color: #3c3d3c; border: 2px solid #3c3d3c; transform: scale(1.5); border-radius: 2em; text-decoration: #3c3d3c;">
        explore concerts
    </button>
<br>
<button style="width: max-content; margin-top: 2em; background-color: #1ca78b; color: #3c3d3c; border: 2px solid #3c3d3c; transform: scale(1.5); border-radius: 2em; text-decoration: #3c3d3c;">
    explore artists
</button>
<br>
<button style="width: max-content; margin-top: 2em; background-color: #1ca78b; color: #3c3d3c; border: 2px solid #3c3d3c; transform: scale(1.5); border-radius: 2em; text-decoration: #3c3d3c;">
    apply for artist account
</button>
<br>

<button style="width: max-content; margin-top: 2em; background-color: #1ca78b; color: #3c3d3c; border: 2px solid #3c3d3c; transform: scale(1.5); border-radius: 2em; text-decoration: #3c3d3c;">
    sign in
</button>
<br>
</body>
</html>