<!DOCTYPE html>
<html>
<head>
  <title>Thank you for your order!</title>
  <link rel="icon" type="image/png"  href="\media\32 x 32 icon.png">
  <link rel="stylesheet" href="\css\checkout.css">
</head>
<body>
  <section>
    <p>
      the content should now be available in your purchases! 
      If you have any questions, please email us at:
      <a href="mailto:virtconcerts@gmail.com">virtconcerts@gmail.com</a>.
    </p>
  </section>
</body>
</html>